@model LogonModel
@{
    ViewData["Title"] = "Logon";
}

<h1>Logon</h1>
<form method="POST" action="AttemptLogon">
    <div class="row">
        <div class="col-12">
            User Name:
        </div>
        <div class="col-12">
            <input type="text" asp-for="UserName" class="form-control" />
        </div>
        <div class="col-12">
            Password:
        </div>
        <div class="col-12">
            <input type="text" asp-for="Password" class="form-control" />
        </div>
        <div class="col-12">
            <input type="submit" class="btn btn-primary" />
        </div>
        <div class="col-12 alert-danger">
            @ViewBag.Message
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span>Register new account:</span>
            <a href="/logon/register" class="btn btn-primary">Register</a> 
        </div>
    </div>
</form>
