@model AddNewGameModel
@{
    ViewData["Title"] = "AddNewGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col">
    <div class="row">
        <h1>Add New Game</h1>
    </div>
</div>
<div class="col">
    <div class="row">
        <span class="font-weight-bold">Game Name:</span>
        <input type="text" class="form-control" asp-for="game.GameName" />
    </div>
</div>
<div class="col">
    <div class="row">
        <span class="font-weight-bold">Game Type:</span>
        <select class="form-control" asp-for="game.GameTypeId">
            @foreach (var x in Model.gameTypes)
            {
                <option value="@x.Id">@x.Name</option>
            }
        </select>
    </div>
</div>
<div class="col">
    <div class="row">
        <span class="font-weight-bold">Password:</span>
        <input type="text" class="form-control" asp-for="game.Password" />
    </div>
</div>

